* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  background-color: rgb(102, 17, 17);
  height: 100%;
  display: flex;
  flex-direction: column;
  /*justify-items: center;
  align-items: center;*/
}

header {
  text-align: center;
  max-width: 100%;
}

.content {
  flex: 1 1 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex: 0 1 auto;
}

.currentSize {
  text-align: center;
  font-size: 2rem;
}

button {
  height: 2.5rem;
  font-size: 1em;
  padding: .25rem;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgba(253, 253, 253, 0);
  margin-right: 5px;
}

button:hover {
  transform: scale(1.1);
  color: rgb(151, 151, 151);
  border-color: rgb(151, 151, 151);
  background-color: black;
}

button:active {
  color: black;
}

.selection {
  padding: 10px 5px;
}

#grid {
  width: 90%;
  min-width: 690px;
  max-height: 690px;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
}

div>div:empty {
  flex-grow: 1;
  flex-shrink: 1;
  aspect-ratio: 1/1;
}

.unDrawn {
  background-color: rgb(155, 184, 174);
}

.drawn {
  background-color: black;
}

div>div:empty:hover {
  transform: scale(1.1);
  background-color: rgb(51, 51, 51);
}